<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.adp.zebra"
        version="0.7.0">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/zebra.js" target="js/zebra.js"/>

  <js-module src="www/zebra.js" name="zebra">
    <clobbers target="zebra" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Zebra">
        <param name="android-package" value="com.adp.plugin.Zebra"/>
      </feature>
    </config-file>

    <source-file src="src/android/Zebra.java" target-dir="src/com/adp/plugin/"/>
  </platform>
</plugin>